body {
    background-color: beige;
    display: flexbox;
    justify-content: center;
    
}

#gallery {
    height: 35pc;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 300px;
    width: fit-content;
    margin: 5px;
     /* Animacion para zoom */
    transition: transform .2s;
}

/* ZOOM */
img:hover{
    transform: scale(1.1);
}

footer{
    text-align: center;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}
